<!DOCTYPE>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/default.css" title="default" />
	<link rel="stylesheet" type="text/css" href="css/main.css" title="default" />
	<link rel="stylesheet" type="text/css" href="css/123.css" title="default" />
	<link rel="shortcut icon" href="img/favicon.ico" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- jQuery -->
	<script src="js/jquery-1.3.2.min.js" type="text/javascript"></script>
	<!-- jQuery slider plugin -->
	<script src="js/easySlider1.5.js" type="text/javascript" ></script>
	<script src="js/ajax.js" type="text/javascript" ></script>
</head>


<body id="home">
<div id="wrapper">

	<div id="header">
		<!-- The name of your website -->
		<h1><a href="index.html"><strong>Компанія</strong>Нерухомості</a></h1>
		<!-- Tagline -->
		<p class="tagline">На благо людям</p>
		<ul>
			<!-- Navigation - the current page is highlighted with css class "current". -->
			<li><a href="/">Домівка <span class="navi-description">Домівка</span></a></li>
			<li><a href="/show">Оголошення</a></li>
			<li class="current"><a href="/service">Сервіси</a></li>
			<li><a href="about.html">Зворотній зв'язок</a></li>
			<% if (user){%>
			<li><a href="/logout">Вихід <span class="navi-description">Прощавайте </span></a></li>
			<%}else {%>
			<li><a href="/registration">Реєстрація <span class="navi-description">приєднуйтесь </span></a></li>
			<%}%>
		</ul><!-- End navigation -->

		<!-- Search -->
		<div id="searchbox">
			<form action="" id="search" method="post">
				<fieldset>
					<input type="submit" id="searchSubmit" value="Пошук" />
					<input type="text" name="searchTerm" size="20" />
				</fieldset>
			</form>
		</div><!-- End search -->
	</div><!-- End header -->

	<div id="contentArea">
		<div id="id_form">
			<form action="/add/advert" method="post" class="form-group" style="margin-right: 200px">
				<p>Заголовок оголошення</p>
				<input type="text" name="advert[tittle]"/>
				<p>Опис оголошення</p>
				<!--<input type="text" multiple name="adver[description]"/>-->
				<textarea name="advert[description]" rows="5" cols="40">	</textarea>
				<p>Ціна лоту $</p>
				<input type="text" name="advert[price]"/>
				<p>Зображення (.jpeg)</p>
				<input type="file" name="image" id="inputFileToLoad" onchange="encodeImageFileAsURL();"/>
				<p>Тип угоди</p>
				<!--<input type="text" name="advert[deal_type]"/>-->
				<select name="advert[deal_type]">
					<option selected="" value="Продаж">Продаж</option>
					<option value="Оренда">Оренда</option>
				</select>
				<p>Тип нерухомості</p>
				<!--<input type="text" name="advert[realty_type]"/>-->
					<select name="advert[realty_type]" id="edit-field-realty_type" class="form-select">
						<option value="">Всі типи</option>
						<option value="Будинок">Будинок</option>
						<option value="Квартира">Квартира</option>
						<option value="Комерційна нерухомість">Комерційна нерухомість</option>
					</select>
				<input type="submit" value="Зберегти">
				<div id="imgTest" style="display: none"></div>
				<input type="hidden" name="advert[image]" value="" id="base64"/>
				<input type="hidden" name="advert[lat]" value="" id="lat"/>
				<input type="hidden" name="advert[lng]" value="" id="lng"/>
				<div id="map"></div>
			</form>
		</div>
	</div><!-- End contentArea -->


	<div id="footerContent">
		<div class="footerColumn">
			<a href="http://themeforest.net/item/businexx/29634?ref=myTheme">
				<!-- Change your own image, size 275x80 -->
				<img src="img/promo3.jpg" alt="" title="" /></a>
			<!--<h4>Check out my other template</h4>-->
			<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, tempor incididunt. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> <a href="http://themeforest.net/item/businexx/29634?ref=myTheme" class="box">Businexx Theme...</a>-->
		</div><!-- End footerColumn -->

		<div class="footerColumn">
			<img src="img/promo1.jpg" alt="" title="" /><!-- Change your own image, size 275x80 -->
			<!--<h4>Consectetur Adipisicing</h4>-->
			<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <a href="#">sed do eiusmod</a> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> <a href="#" class="box">Read More...</a>-->
		</div><!-- End footerColumn -->

		<div class="footerColumn last">
			<!-- Contact information -->
			<!--<h5>Address:</h5> <p>123 Street Road, City 12345</p>-->
			<!--<h5>Phone:</h5> <p>123.456.7890</p>-->
			<!--<h5>E-mail:</h5> <p><a href="mailto:contact@company.com">contact@company.com</a></p>-->
			<!--<a href="contact.html" class="box">Contact Form</a>-->
		</div><!-- End footerColumn -->

		<div id="footerLinks">
			<p><a href="index.html">Домівка</a> | <a href="services.html">Сервіси</a>  | <a href="about.html">Про нас</a></p>

			<p class="right">Наше майно.</p>
		</div><!-- End footerLinks -->
	</div><!-- End footerContent -->
</div><!-- End wrapper -->
<script>

	// In the following example, markers appear when the user clicks on the map.
	// The markers are stored in an array.
	// The user can then click an option to hide, show or delete the markers.
	var map;
	var markers = [];

	function initMap() {
		var haightAshbury = {lat: 37.769, lng: -122.446};

		map = new google.maps.Map(document.getElementById('map'), {
			zoom: 12,
			center: haightAshbury,
			mapTypeId: google.maps.MapTypeId.TERRAIN
		});

		// This event listener will call addMarker() when the map is clicked.
		map.addListener('click', function(event) {
			setMapOnAll(null);
			addMarker(event.latLng);
		});

		// Adds a marker at the center of the map.
		addMarker(haightAshbury);
	}

	// Adds a marker to the map and push to the array.
	function addMarker(location) {
		var marker = new google.maps.Marker({
			position: location,
			map: map
		});
		document.getElementById("lat").value = marker.position.lat();
		document.getElementById("lng").value = marker.position.lng();
		console.log(marker.position.lat());
		markers.push(marker);
	}
	function setMapOnAll(map) {
		for (var i = 0; i < markers.length; i++) {
			markers[i].setMap(map);
		}
	}

</script>
<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQQy4xbmUbCmkznbYhhU6D-JiRt4otQMg&signed_in=true&callback=initMap"></script>
</body>
</html>